@(frm: Form[Profile])(implicit flash: Flash)
@import models._
@import views.html.helper._
@import views.common.custom._
@main("プロファイル変更") {
@{flash.get("success").map {
	case "update" => <h3 class="success">プロファイルを変更しました。</h3>
	case "updatePw" => <h3 class="success">パスワードを変更しました。</h3>
}}
@if(frm.hasErrors) {
	<h3 class="error">値が不適切です。入力し直してください。</h3>
}
@form(routes.ProfileController.update(), dataajax -> "false") {
	@inputText(frm("loginId"), '_label -> "ログインID", 'readonly -> "true")
	@inputText(frm("nickname"), '_label -> "ニックネーム")
	<input type="submit" value="変更する" data-theme="a" />
}
<div>
	<a href="@routes.ProfileController.editPw()" data-ajax="false"
		data-role="button">パスワード</a>
</div>
}
