@(id: Long, frm: Form[Admin])(implicit pageParam: PageParam, flash: Flash)
@import controllers.AdminFormDef._
@import controllers.common.FlashName._
@import models._
@import views.html.helper._
@import views.common.custom._
@main("変更") {
@{flash.get(Success).map {
	case Create => <h3 class="success">管理アカウントを登録しました。</h3>
	case Update => <h3 class="success">管理アカウントを変更しました。</h3>
	case UpdatePw => <h3 class="success">パスワードを変更しました。</h3>
}}
@if(frm.hasErrors) {
	<h3 class="error">値が不適切です。入力し直してください。</h3>
}
@form(routes.AdminController.update(id), dataajax -> "false") {
	@inputText(frm(LOGIN_ID), '_label -> "ログインID")
	@inputText(frm(NICKNAME), '_label -> "ニックネーム")
	<input type="submit" value="変更する" data-theme="a" />
}
<div>
	<a href="@routes.AdminController.editPw(id)" data-ajax="false"
		data-role="button">パスワード</a>
</div>
}
